body {
  overflow: hidden;
  margin: 0;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 400px;
}

h3 {
  text-align: center;
}

.container {
  overflow-y: scroll;
  scroll-padding: 0px;
  padding: 0;
  height: 100vh;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: rgba(255, 255, 255, 0.5);
}

div.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  scroll-snap-align: start;
}

section#i1 {
  background-color: #ff651a;
}

section#i2 {
  background-color: #00c1b5;
}

section#i3 {
  background-color: #e30512;
}

section#i4 {
  background-color: #1d3fbb;
}

section#i5 {
  background-color: #ff651a;
}

section#i6 {
  background-color: #ffbe00;
}

section#i7 {
  background-color: #00c1b5;
}